@model upband.Models.RegistrationViewModel
@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/css/accountform.css" />
</head>
<body>
    <div class="account-box">
        <div style="align-content:flex-start;">
            <img src="~/static-files/logo.svg" height="45" width="160" style="color:black">
        </div>
        <h2>Регистрация</h2>
        <form asp-action="Registration" asp-controller="Account" method="post" id="register-form">
            <div>
                <input asp-for="Email" placeholder="адрес эл.почты" class="user-data" />
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <input asp-for="UserName" placeholder="имя пользователя" class="user-data" />
                <span asp-validation-for="UserName"></span>
            </div>
            <div>
                <input asp-for="Password" placeholder="пароль" class="user-data" />
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <input asp-for="ConfirmPassword" placeholder="подтвердите пароль" class="user-data" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <div><input type="submit" class="login-button" value="создать аккаунт"></div>
        </form>
        <form asp-action="Login" asp-controller="Account" method="get">
            <input class="login-button" value="вход" type="submit" />
        </form>
    </div>
</body>